# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/Build Library Management System  Python & PyQt5.iml
.idea/encodings.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/
